@import "tailwindcss";

/* * {
  background-color: #1a1a1a;
} */

:root {
  --color-primary: #00BCD4;
  --color-primary-dark: #0097A7;
  --color-primary-light: #B2EBF2;
  --color-accent: #009688;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-text-white: #FFFFFF;
  --color-divider: #BDBDBD;
 --main-font:  "Roboto", sans-serif;
  --logo-font:  "Pangolin", cursive;
}
* {
  font-family: var(--main-font);
}



